body {
    background-color: #777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    color: #777;
}

header {
    color: #777;
    font-size: 18pt;
    background: #ebebeb;
    padding: 10px;
    margin: 50px;
    align-content: center, center;
}

nav {
    color: #777;
    font-size: 18pt;
    background: #ebebeb;
    padding: 10px;
    margin: 50px;
}


section {
    background-color: #ebebeb;
    color: #777;
    font-size: 18pt;
    padding: 10px;
    float: left;
    margin: 0 1.5% 50px 0;
    width: 63%;
    height: 420px;
}

article {
    color: #ebebeb;
    padding: 10px;
    margin: 0 1.5% 50px 0;
    font-size: 18pt;
    background-color: #777;
    position: bottom center;
}

aside {
    background-color: #ebebeb;
    font-size: 18pt;
    float: right;
    margin: 0 1.5%;
    width: 30%;
    height: 450px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    background: #ebebeb;
    color: #777;
}

footer {
    font-size: 18pt;
    background: #ebebeb;
    clear: both;
}


/* this is a comment in CSS! activate thiis 
somehow ?!?!? 
.clear {

}





*/